.card{
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    height: 200px;
    margin-left:25%;
    margin-right: 25%;
    background-color: aqua;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face{
 
    
}

.hidden{
    display: none;

}


header{
    text-align: center;
}

p{
    font-size: 1.3rem;

}

