body{
    font-family: 'Rubik', sans-serif;
    background-color: #C49799;
}
nav{
    position: relative;
    width: 230px;
    height: 100%;
    border: 1px solid black;
    z-index: 1;
    padding-top:24px;
    padding-right: 30px;
    background-color:#7C90A0;
 
    
}

#tab {
    position: absolute;
    width: 100%;
    font-size: 20px;
    height: 100%;
    text-align: right;
    vertical-align: center;
    padding-right: 12px;
    
}

#tab:hover{
    cursor: pointer;
}
.moveToLeft{
    transform: translateX(-230px);
}

.moveToRight {
    transform: translateX(0px);
    
}
.card{
    border: 1px solid black;
    border-radius: 20px;
    width: 50%;
    height: 200px;
    margin-left:25%;
    margin-right: 25%;
    background-color:#FFD972;
    position: relative;
}

.face{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-style: bold;
    color:#FFD972;
}

.card:hover{
    box-shadow: 10px 10px 5px grey;
}

nav:hover{
    box-shadow: 10px 10px 5px grey;
}

.hidden{
    display: none;

}

header{
    text-align: center;
}

p{
    font-size: 1.3rem;
    text-align: center;
}

.input-wrapper{
    margin-bottom:24px!important;
    padding: 10px;
    width:80%;
    margin: auto;
    border:1px solid black;
    border-radius: 5px;
    background-color: whitesmoke;
}
input{
    width: 100%;
}

.container, .carddesk{
    text-align: center;
}

.fa-plus-circle{
    margin-top:24px;
}

#menu{
    text-align: center;
}

.arrow-container{
    padding: 24px;
    font-size: 24px;
}

.fas:hover{
    cursor: pointer;
}